
body {

    background-image:url("covid2.jpg");
    background-size: 50% 50%;
}
h1 {
	font-weight: bold;
  color: #4287f5;
}
p {
  color: red;
}
}
html {
    height: 100%
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
